footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 2rem;
    gap: 2rem;
}

.footer-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-inline-size: 40rem;
    text-align: center;
}

footer hr {
    border: none;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.071);
    width: 100%;
}

/*LINKS INTERNOS*/

.footer-topics {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 10rem;
}

.footer-list a {
    transition: color 0.1s ease;
}

footer span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*1024px*/
@media (max-width: 1024px) {
    .footer-topics {
        justify-content: center;
    }

    .footer-list {
        flex: 1 1 calc(50% - 2rem);
        max-width: 200px;
    }
}

/*600px*/
@media (max-width: 600px) {
    footer {
        padding: 1.5rem;
        gap: 1.5rem;
    }

    .footer-description {
        gap: 1rem;
    }

    .footer-topics {
        justify-content: center;
        text-align: center;
    }

    .footer-list {
        max-width: 100%;
        align-items: center;
    }

    footer span {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

}


